body{
    background-color: rgba(221, 39, 39, 0.897);
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section { 
    width: 10agit00px;
    height: 350px;
    display: flex;
    justify-content: left;
    margin: 100px 160px;
}
#title{
    font-size: 30pt;
    color: white;
}
#subtitle{
    font-size: 20pt;
    font-weight: 100;
    margin: 5px;
}
#leftside{ 
    width: 350px;
    text-align: left; 
    padding-right: 30px;
}
p {
    font-size: 10pt;
    }
#rightside {
    float: right;
    width: 350px;
}
#button {
    border-radius: 15px;
    background-color: black;
    color: white;
    width: 300px;
    font-size: 15px;
}
#email {
    width: 300px;
    font-size: 15px;
    border-radius: 15px;
}
#photo {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.582);
    width: 600px;
}